<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.released%></td>
      <td><%= song.release_year %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
    </tr>
    <% end %>
  </tbody>
  </body>
</html>
